{% extends 'base.html' %}
{% load static %}

{% block title %}{{ product.name }} - Bags Store{% endblock %}

{% block content %}
    <div class="product-detail">
        <img src="{{ product.image.url }}" alt="{{ product.name }}" onerror="this.src='{% static 'img/no-image.jpg' %}'">
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <p class="price">${{ product.price }}</p>
        <button class="add-to-cart" data-id="{{ product.id }}">Add to Cart</button>
    </div>
{% endblock %}
